In [ ]:
SELECT name, email
FROM Employees;

In [ ]:
SELECT *
FROM Customers
WHERE City = 'New York';

In [ ]:
SELECT *
FROM Users
ORDER BY DateOfBirth DESC;

In [ ]:
SELECT *
FROM Users
ORDER BY RegistrationDate ASC;

In [ ]:
SELECT name, position, salary
FROM Employees
ORDER BY salary DESC
LIMIT 1;

In [ ]:
SELECT *
FROM Customers
WHERE Phone LIKE '+1-___-___-____';

In [ ]:
SELECT customer_name, SUM(purchase_amount) AS total_purchase_amount
FROM Orders
GROUP BY customer_name
ORDER BY total_purchase_amount DESC
LIMIT 5;

In [ ]:
SELECT 
    category_name,
    SUM(sales_amount) AS total_sales_amount,
    (SUM(sales_amount) / (SELECT SUM(sales_amount) FROM Sales)) * 100 AS percentage_of_sales
FROM Sales
GROUP BY category_name;